.app {
  background-color: var(--background-color);
  font-family: var(--font-base);
  color: var(--text-color);
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--lightGray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.app__social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: fit-content;
  margin-left: 2rem;

  position: fixed;
  z-index: 2;

  div {
    padding: 0.75rem;

    svg {
      cursor: pointer;
      color: var(--text-color);
    }

    transition: all 0.3s ease-in-out;

    &:hover {
      svg {
        color: var(--secondary-color);
      }
    }

    @media screen and (min-width: 2000px) {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    justify-content: flex-end;
    position: absolute;
    margin-left: 0.5rem;
    bottom: 5%;

    div {
      padding: 0.5rem;
    }
  }
}

.app__navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  right: 0;
  width: fit-content;
  height: 100vh;
  margin-right: 2rem;

  position: fixed;
  z-index: 2;

  .app__navigation-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }

  .app__navigation-dot.active {
    background-color: var(--secondary-color);
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.app__heading {
  margin-top: 2rem;

  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.app__section {
  min-height: 100vh;
  padding: 4rem 6rem 0 6rem;

  @media screen and (max-width: 600px) {
    padding: 0;
  }
}

.app__button {
  background-color: var(--secondary-color);
  color: black;
  border-radius: 50px;

  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  svg {
    vertical-align: text-top;
  }

  &:hover {
    background-color: #1db360;
  }
}
